*.h5ad
*.mtx
*.tar
*.gz
.ipynb_checkpoints/
__pycache__/
backup_results/ 
recovered_notebook.ipynb 
fixed_test.ipynb 
notebooks/fixed_test.ipynb
test.ipynb
docs/.Rhistory 
figures/.gitignore 
"results/phase3_pseudobulk_de/pseudobulk_cache/" 
